[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/5.2%20%EC%97%85%EC%A2%85%20%ED%85%8C%EB%A7%88%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EC%A0%84%EC%B2%98%EB%A6%AC-input.ipynb)

## 업종/테마 전처리 미션확인

* 팀장님이 우리 회사와 유사한 업종과 테마로 사업을 하고 있는 종목을 수집해서 분석해 달라는 미션을 주셨습니다.
* 코스피에서 해당 업종 혹은 테마의 시가총액이 가장 많은 종목을 찾아주세요.
* 해당 업종/테마의 거래량이 가장 많은 종목을 찾아주세요.
* 최근 52주 최고가에서 현재가 기준으로 가장 손실이 크게 난 종목은 어떤 종목일까요?
* 거래대금이 20위 안에 있는 코스피 종목 중에 "PER"가 가장 낮은 종목은 무엇일까요?


### 주요 업종/테마

* 실습에 참고해 보세요.
* 제약 업종 : https://finance.naver.com/sise/sise_group_detail.nhn?type=upjong&no=35
* 의료기기 : https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=175
* 코로나19(덱사메타손) : https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=442
* 제약업체 : https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=172
* 바이오시밀러(복제 바이오의약품) : https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=241

In [1]:
# 라이브러리 로드하기 : 데이터 분석을 위한 pandas, 수치계산을 위한 numpy
import pandas as pd
import numpy as np

In [4]:
# 4.업종/테마주 수집시에 저장해 두었던 csv 파일을 다시 읽어옵니다.
# 'upjong_no_35_연-월-일.csv'
# 종목코드는 꼭 문자형태로 불러옵니다. dtype={"종목코드":np.object}
file_name = "upjong_no_261_2022-07-12.csv"
raw = pd.read_csv(file_name, dtype={'종목코드':object})
raw.shape

(158, 49)

In [5]:
# 미리보기 합니다.
raw.head()

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,...,PBRlBPS (2022.03),배당수익률,동일업종 PER,동일업종 등락률,배당수익률l2021.12,PERlEPS(2021.12),PBRlBPS (2021.12),PERlEPS(2022.02),PBRlBPS (2022.02),배당수익률l2021.11
0,카이노스메드 *,11450.0,1520.0,+15.31%,9610.0,9930.0,125641.0,1413.0,0.0,2022-07-12,...,125.82배 l 79원,NaN,106.06배,+0.27%,NaN,NaN,NaN,NaN,NaN,NaN
1,일동제약,38350.0,2900.0,+8.18%,36600.0,36650.0,1291093.0,49785.0,6060869.0,2022-07-12,...,"5.47배 l 7,471원",NaN,106.06배,+0.29%,NaN,NaN,NaN,NaN,NaN,NaN
2,이글벳 *,6640.0,470.0,+7.62%,6050.0,6150.0,362894.0,2395.0,31238.0,2022-07-12,...,"1.87배 l 3,391원",NaN,106.06배,+0.27%,0.79%,NaN,NaN,NaN,NaN,NaN
3,애드바이오텍 *,5000.0,230.0,+4.82%,4715.0,4950.0,18666.0,91.0,54126.0,2022-07-12,...,NaN,NaN,106.06배,+0.29%,NaN,N/A l -347원,"3.20배 l 1,530원",NaN,NaN,NaN
4,신풍제약우,48600.0,1600.0,+3.40%,48650.0,48700.0,2085.0,101.0,29385.0,2022-07-12,...,"6.91배 l 6,792원",NaN,106.06배,+0.27%,NaN,NaN,NaN,NaN,NaN,NaN

## 전체 컬럼 출력하기

In [7]:
# 전체 컬럼이 출력되도록 display 설정을 변경합니다.
pd.options.display.max_columns = None

In [8]:
# 전체 컬럼이 보이는지 확인합니다.
raw.head()

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목명_전처리,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,ROE(지배주주),부채비율,당좌비율,유보율,EPS(원),PER(배),BPS(원),PBR(배),주당배당금(원),시가배당률(%),배당성향(%),시가총액,시가총액순위,상장주식수,액면가l매매단위,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),투자의견l목표주가,52주최고l최저,PERlEPS(2022.03),추정PERlEPS,PBRlBPS (2022.03),배당수익률,동일업종 PER,동일업종 등락률,배당수익률l2021.12,PERlEPS(2021.12),PBRlBPS (2021.12),PERlEPS(2022.02),PBRlBPS (2022.02),배당수익률l2021.11
0,카이노스메드 *,11450.0,1520.0,+15.31%,9610.0,9930.0,125641.0,1413.0,0.0,2022-07-12,카이노스메드,284620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,219 억원",코스닥 362위,22322396,500원 l 1주,22322396,828098,3.71%,N/A l N/A,"21,510 l 8,629",N/A l -770원,N/A l N/A,125.82배 l 79원,NaN,106.06배,+0.27%,NaN,NaN,NaN,NaN,NaN,NaN
1,일동제약,38350.0,2900.0,+8.18%,36600.0,36650.0,1291093.0,49785.0,6060869.0,2022-07-12,일동제약,249420,1530.0,-60.0,-210.0,-3.92,-13.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1조 949 억원,코스피 200위,26803285,"1,000원 l 1주",26803285,1088414,4.06%,"4.00매수 l 50,000","79,500 l 12,400","N/A l -8,637원",N/A l N/A,"5.47배 l 7,471원",NaN,106.06배,+0.29%,NaN,NaN,NaN,NaN,NaN,NaN
2,이글벳 *,6640.0,470.0,+7.62%,6050.0,6150.0,362894.0,2395.0,31238.0,2022-07-12,이글벳,044960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,803 억원,코스닥 996위,12641883,500원 l 1주,12641883,139638,1.10%,N/A l N/A,"9,700 l 5,600",21.03배 l 302원,N/A l N/A,"1.87배 l 3,391원",NaN,106.06배,+0.27%,0.79%,NaN,NaN,NaN,NaN,NaN
3,애드바이오텍 *,5000.0,230.0,+4.82%,4715.0,4950.0,18666.0,91.0,54126.0,2022-07-12,애드바이오텍,179530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,448 억원,코스닥 1357위,9140444,500원 l 1주,9140444,270546,2.96%,N/A l N/A,"11,400 l 4,485",NaN,N/A l N/A,NaN,NaN,106.06배,+0.29%,NaN,N/A l -347원,"3.20배 l 1,530원",NaN,NaN,NaN
4,신풍제약우,48600.0,1600.0,+3.40%,48650.0,48700.0,2085.0,101.0,29385.0,2022-07-12,신풍제약우,019175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,032 억원",코스피 794위,2200000,500원 l 1주,2200000,8518,0.39%,N/A l N/A,"135,000 l 30,950",N/A l -333원,N/A l N/A,"6.91배 l 6,792원",NaN,106.06배,+0.27%,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# DataFrame의 column만 따로 봅니다.
raw.columns

Index(['종목명', '현재가', '전일비', '등락률', '매수호가', '매도호가', '거래량', '거래대금', '전일거래량',
       '조회일자', '종목명_전처리', '종목코드', '매출액', '영업이익', '당기순이익', '영업이익률', '순이익률',
       'ROE(지배주주)', '부채비율', '당좌비율', '유보율', 'EPS(원)', 'PER(배)', 'BPS(원)',
       'PBR(배)', '주당배당금(원)', '시가배당률(%)', '배당성향(%)', '시가총액', '시가총액순위', '상장주식수',
       '액면가l매매단위', '외국인한도주식수(A)', '외국인보유주식수(B)', '외국인소진율(B/A)', '투자의견l목표주가',
       '52주최고l최저', 'PERlEPS(2022.03)', '추정PERlEPS', 'PBRlBPS (2022.03)',
       '배당수익률', '동일업종 PER', '동일업종 등락률', '배당수익률l2021.12', 'PERlEPS(2021.12)',
       'PBRlBPS (2021.12)', 'PERlEPS(2022.02)', 'PBRlBPS (2022.02)',
       '배당수익률l2021.11'],
      dtype='object')

## 결측치

In [11]:
# 결측치의 합계를 구합니다.
raw.isnull().sum()

종목명                    0
현재가                    0
전일비                    0
등락률                    0
매수호가                   0
매도호가                   0
거래량                    0
거래대금                   0
전일거래량                  0
조회일자                   0
종목명_전처리                0
종목코드                   0
매출액                  124
영업이익                 125
당기순이익                130
영업이익률                125
순이익률                 130
ROE(지배주주)            158
부채비율                 158
당좌비율                 158
유보율                  158
EPS(원)               132
PER(배)               132
BPS(원)               158
PBR(배)               158
주당배당금(원)             158
시가배당률(%)             158
배당성향(%)              158
시가총액                   0
시가총액순위                 0
상장주식수                  0
액면가l매매단위               2
외국인한도주식수(A)            0
외국인보유주식수(B)            0
외국인소진율(B/A)            0
투자의견l목표주가              0
52주최고l최저               0
PERlEPS(2022.03)       8
추정PERlEPS              0
PBRlBPS (2022.03)      8
배당수익률                158
동일업종 PER               0
동일업종 등락률               0
배당수익률l2021.12         79
PERlEPS(2021.12)     151
PBRlBPS (2021.12)    151
PERlEPS(2022.02)     157
PBRlBPS (2022.02)    157
배당수익률l2021.11        157
dtype: int64

In [12]:
# 결측치의 비율을 구합니다.
raw.isnull().mean() * 100

종목명                    0.000000
현재가                    0.000000
전일비                    0.000000
등락률                    0.000000
매수호가                   0.000000
매도호가                   0.000000
거래량                    0.000000
거래대금                   0.000000
전일거래량                  0.000000
조회일자                   0.000000
종목명_전처리                0.000000
종목코드                   0.000000
매출액                   78.481013
영업이익                  79.113924
당기순이익                 82.278481
영업이익률                 79.113924
순이익률                  82.278481
ROE(지배주주)            100.000000
부채비율                 100.000000
당좌비율                 100.000000
유보율                  100.000000
EPS(원)                83.544304
PER(배)                83.544304
BPS(원)               100.000000
PBR(배)               100.000000
주당배당금(원)             100.000000
시가배당률(%)             100.000000
배당성향(%)              100.000000
시가총액                   0.000000
시가총액순위                 0.000000
상장주식수                  0.000000
액면가l매매단위               1.265823
외국인한도주식수(A)            0.000000
외국인보유주식수(B)            0.000000
외국인소진율(B/A)            0.000000
투자의견l목표주가              0.000000
52주최고l최저               0.000000
PERlEPS(2022.03)       5.063291
추정PERlEPS              0.000000
PBRlBPS (2022.03)      5.063291
배당수익률                100.000000
동일업종 PER               0.000000
동일업종 등락률               0.000000
배당수익률l2021.12         50.000000
PERlEPS(2021.12)      95.569620
PBRlBPS (2021.12)     95.569620
PERlEPS(2022.02)      99.367089
PBRlBPS (2022.02)     99.367089
배당수익률l2021.11         99.367089
dtype: float64

In [13]:
# 결측치 제거 전에 행과 열의 수를 봅니다.
raw.shape

(158, 49)

In [16]:
# 전체가 결측치인 컬럼은 삭제 합니다.
# df
df = raw.dropna(axis=1, how='all').copy()
df.shape

(158, 39)

In [17]:
# 삭제된 컬럼의 수를 계산해 봅니다.
raw.shape[1] - df.shape[1]

10

In [18]:
# info를 통해 결측치 데이터 타입을 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   종목명                158 non-null    object
 1   현재가                158 non-null    float64
 2   전일비                158 non-null    float64
 3   등락률                158 non-null    object
 4   매수호가               158 non-null    float64
 5   매도호가               158 non-null    float64
 6   거래량                158 non-null    float64
 7   거래대금               158 non-null    float64
 8   전일거래량              158 non-null    float64
 9   조회일자               158 non-null    object
 10  종목명_전처리            158 non-null    object
 11  종목코드               158 non-null    object
 12  매출액                34 non-null     float64
 13  영업이익               33 non-null     float64
 14  당기순이익              28 non-null     float64
 15  영업이익률              33 non-null     float64
 16  순이익률               28 non-null     float64
 17  EPS(원)             26 non-null     float64
 18  PER(배)             26 non-null     float64
 19  시가총액               158 non-null    object
 20  시가총액순위             158 non-null    object
 21  상장주식수              158 non-null    int64
 22  액면가l매매단위           156 non-null    object
 23  외국인한도주식수(A)        158 non-null    int64
 24  외국인보유주식수(B)        158 non-null    int64
 25  외국인소진율(B/A)        158 non-null    object
 26  투자의견l목표주가          158 non-null    object
 27  52주최고l최저           158 non-null    object
 28  PERlEPS(2022.03)   150 non-null    object
 29  추정PERlEPS          158 non-null    object
 30  PBRlBPS (2022.03)  150 non-null    object
 31  동일업종 PER           158 non-null    object
 32  동일업종 등락률           158 non-null    object
 33  배당수익률l2021.12      79 non-null     object
 34  PERlEPS(2021.12)   7 non-null      object
 35  PBRlBPS (2021.12)  7 non-null      object
 36  PERlEPS(2022.02)   1 non-null      object
 37  PBRlBPS (2022.02)  1 non-null      object
 38  배당수익률l2021.11      1 non-null      object
dtypes: float64(14), int64(3), object(22)
memory usage: 48.3+ KB

## 파생변수 만들기와 텍스트 데이터 다루기
<img src="https://pandas.pydata.org/docs/_images/05_newcolumn_1.svg">

* 코스피/코스닥 구분 만들기
* 시가총액 순위 분리하기
* 액면가l매매단위
* 52주최고l최저

### 코스피/코스닥 컬럼 만들기

In [27]:
# "코스피/코스닥" 컬럼을 만듭니다.
#  * 는 코스닥 종목입니다. str.endswith 를 사용합니다.
df.loc[df["종목명"].str.endswith("*"), "코스피/코스닥"] = "코스닥"
df.loc[~df["종목명"].str.endswith("*"), "코스피/코스닥"] = "코스피"

In [28]:
df['코스피/코스닥'].head()

0    코스닥
1    코스피
2    코스닥
3    코스닥
4    코스피
Name: 코스피/코스닥, dtype: object

In [29]:
# "코스피/코스닥" 빈도수를 확인합니다.
df["코스피/코스닥"].value_counts()

코스닥    98
코스피    60
Name: 코스피/코스닥, dtype: int64

###  시가총액 수치형태로 만들기

In [44]:
# or를 의미하는 | 는 엔터키 위에 있는 키를 shift키를 누르면 나옵니다.
df['시가총액(억원)'] = df["시가총액"].str.replace("억원", "")
df['시가총액(억원)'] = df['시가총액(억원)'].str.replace("조|,", "")
df["시가총액(억원)"] = df["시가총액(억원)"].str.replace(" ", "")
df['시가총액(억원)'] = df['시가총액(억원)'].str.strip()
df['시가총액(억원)'] = df['시가총액(억원)'].astype(int)
df["시가총액(억원)"]

C:\Users\HANON\AppData\Local\Temp\ipykernel_24132\2563229320.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['시가총액(억원)'] = df['시가총액(억원)'].str.replace("조|,", "")

0      2219
1      1949
2       803
3       448
4      1032
       ...
153     611
154    4042
155     595
156    2494
157    4107
Name: 시가총액(억원), Length: 158, dtype: int32

* [정규 표현식 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D)

In [48]:
# 정규표현식을 사용한 숫자 추출
df["시가총액(억원)"]= df["시가총액"].str.replace("[^0-9]", "").astype(int)
df["시가총액(억원)"].head(1)

C:\Users\HANON\AppData\Local\Temp\ipykernel_24132\2692878543.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["시가총액(억원)"]= df["시가총액"].str.replace("[^0-9]", "").astype(int)

0    2219
Name: 시가총액(억원), dtype: int32

### 시가총액 순위 수치데이터로 만들기

In [54]:
# split을 사용하는 방법
# '시가총액순위(전처리)' column에서도 '위'를 빼고 수치데이터로 변경합니다.
df["시가총액순위(전처리)"] = df['시가총액순위'].str.split(" ", expand=True)[1]
df["시가총액순위(전처리)"] = df["시가총액순위(전처리)"].str.replace("위", "").astype(int)
df["시가총액순위(전처리)"]

0       362
1       200
2       996
3      1357
4       794
       ...
153    1189
154     158
155    1206
156     306
157     154
Name: 시가총액순위(전처리), Length: 158, dtype: int32

In [59]:
# 정규표현식을 사용하는 방법도 있습니다. 
# 숫자를 제외한 문자는 빈문자""로 변경하도록 합니다.
df["시가총액순위(전처리)"] = df["시가총액순위"].str.replace("[^0-9]", "").astype(int)

C:\Users\HANON\AppData\Local\Temp\ipykernel_24132\465635988.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df["시가총액순위(전처리)"] = df["시가총액순위"].str.replace("[^0-9]", "").astype(int)

### 52주최고l최저

In [73]:
# '52주최고l최저' => 52주최고, 52주최저 두 개의  컬럼으로 나누어 전처리 합니다.
df["52주최고"] = df["52주최고l최저"].str.split("l", expand=True)[0].str.replace(",", "").astype(int)
df["52주최저"] = df["52주최고l최저"].str.split("l", expand=True)[1].str.replace(",", "").astype(int)

In [ ]:
# 일부 column들을 수치형 데이터로 바꿀수 있도록 ','와 같은 문자들을 없애고
# 새로운 column에 수치형 데이터로 입력합니다.
# 이런 수치형 데이터의 column들로 새로운 데이터 column들을 생성합니다.

In [74]:
# 52주차액: 52주최고 - 52주최저 
# 52주차액비율 : 52주최고 / 52주최저 
df["52주차액"] = df["52주최고"] - df["52주최저"]
df["52주차액비율"] = df["52주최고"] / df["52주최저"]

In [75]:
# 현재-최고가 : 현재가 - 52주최고
# 현재/최고가비율 : 현재가 / 52주최고
df["현재-최고가"] = df["현재가"] - df["52주최고"]
df["현재/최고가비율"] = df["현재가"] / df["52주최고"]

In [76]:
df[["종목명", "52주차액", "52주차액비율", "52주최고", "52주최저", "현재-최고가", "현재/최고가비율"]].head()

        종목명   52주차액   52주차액비율   52주최고  52주최저   현재-최고가  현재/최고가비율
0  카이노스메드 *   12881  2.492757   21510   8629 -10060.0  0.532311
1      일동제약   67100  6.411290   79500  12400 -41150.0  0.482390
2     이글벳 *    4100  1.732143    9700   5600  -3060.0  0.684536
3  애드바이오텍 *    6915  2.541806   11400   4485  -6400.0  0.438596
4     신풍제약우  104050  4.361874  135000  30950 -86400.0  0.360000

### 투자의견l목표주가 astype과 to_numeric

In [77]:
type(np.nan)

float

In [87]:
# '투자의견l목표주가' => 투자의견, 매수매도, 목표주가 컬럼으로 나누어 전처리 합니다.
df["목표주가"] = df['투자의견l목표주가'].str.split("  l  ", expand=True)[1]
df["목표주가"] = df["목표주가"].replace("N/A", np.nan).str.replace(',', "").astype(float)
df["목표주가"]

0          NaN
1      50000.0
2          NaN
3          NaN
4          NaN
        ...
153        NaN
154        NaN
155        NaN
156        NaN
157        NaN
Name: 목표주가, Length: 158, dtype: float64

In [98]:
df["투자의견"] = df['투자의견l목표주가'].str.split("  l  ", expand=True)[0]
df["투자의견"] = df["투자의견"].replace("N/A", np.nan)
df["매수매도"] = df["투자의견"].str.replace('[0-9.]', "")
df["투자의견"] = df["투자의견"].str.replace("[^0-9.]", "").astype(float)
df["투자의견"]

C:\Users\HANON\AppData\Local\Temp\ipykernel_24132\3672669988.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df["매수매도"] = df["투자의견"].str.replace('[0-9.]', "")
C:\Users\HANON\AppData\Local\Temp\ipykernel_24132\3672669988.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df["투자의견"] = df["투자의견"].str.replace("[^0-9.]", "").astype(float)

0      NaN
1      4.0
2      NaN
3      NaN
4      NaN
      ...
153    NaN
154    NaN
155    NaN
156    NaN
157    NaN
Name: 투자의견, Length: 158, dtype: float64

In [ ]:
# df["투자의견"].astype(float)

In [100]:
# 투자의견의 수치만 pd.to_numeric 으로 숫자로 만들기
df["투자의견"] = pd.to_numeric(df["투자의견"])

In [101]:
# 투자의견 컬럼만 가져와서 describe로 기술통계 값을 봅니다.
df["투자의견"].describe()

count    37.000000
mean      3.995676
std       0.018936
min       3.900000
25%       4.000000
50%       4.000000
75%       4.000000
max       4.000000
Name: 투자의견, dtype: float64

### 데이터 타입 변경하기
* "동일업종 PER 컬럼"에서 "배" 문자를 제거하고 수치 변수로 변환해 주세요.
* 전처리 결괏값은 df["동일업종 PER(배)"]라는 컬럼에 담아주세요

In [102]:
# "동일업종 PER"
df["동일업종 PER"]

0      106.06배
1      106.06배
2      106.06배
3      106.06배
4      106.06배
        ...
153    106.06배
154    106.06배
155    106.06배
156    106.06배
157    106.06배
Name: 동일업종 PER, Length: 158, dtype: object

In [104]:
# "동일업종 PER 컬럼"에서 "배" 문자를 제거하고 수치 변수로 변환해 주세요.
df["동일업종 PER"] = df["동일업종 PER"].str.replace("배", "").astype(float)

In [105]:
# str.replace, astype를 이용하면 쉽게 해결할 수 있습니다.
df["동일업종 PER"]

0      106.06
1      106.06
2      106.06
3      106.06
4      106.06
        ...
153    106.06
154    106.06
155    106.06
156    106.06
157    106.06
Name: 동일업종 PER, Length: 158, dtype: float64

## filter와 melt로 여러 컬럼 전처리하기

### PER와 EPS 

#### PER 주가수익비율

* "이 주식은 비싼가, 주식시장이 거품인가" 판단하는 시금석
* PER = 주식가격 / 주당순이익(EPS)

물건을 살 때 값을 얼마나 줘야 좋은 건지 판단할 기준은 수없이 많다. 내게 얼마나 절실한가. 이 물건이 얼마나 유용하고 값어치가 있나. 혹은 어느 정도나 오래 사용할 수 있나. 물건에 대한 다른 사람들의 평판은 어떤가. 물건이 내게 주는 수익은 어느 정도인가…. 생각해보면 쉽게 떠오르는 이런저런 이유들은 어려운 주식투자나, 투자결정에도 그대로 적용된다.

이런 점에서 흔히 투자자들 사이에서 `퍼(PER)`로 불리는 **주가수익비율(Price earning ratio, 이하 PER)**은 어떤 회사의 주식가치, 더 나아가 전체 주식시장의 가치가 고평가 됐는지 가늠할 수 있는 유용한 잣대다. **PER은 현재 시장에서 매매되는 특정회사의 주식가격을 주당순이익으로 나눈 값을 말한다.** 한 주에 만 원하는 회사주식이 1년에 주당 1000원의 순이익을 낸다면? PER은 10이 된다. 이 수치가 회사의 가치를 어떻게 반영한다는 얘기일까?

* 출처 [네이버 지식백과]주가수익비율(PER) - "이 주식은 비싼가, 주식시장이 거품인가" 판단하는 시금석 (금융사전, 김태근)
* https://terms.naver.com/entry.nhn?docId=3571127&cid=58781&categoryId=58781

#### EPS 주당순이익

* EPS =  순이익(당기순이익) / 그 기업이 발행한 총 주식수

주당순이익(EPS)은 기업이 벌어들인 순이익(당기순이익)을 그 기업이 발행한 총 주식수로 나눈 값으로, 1주당 이익을 얼마나 창출하였느냐를 나타내는 지표이다. 즉 해당 회사가 1년간 올린 수익에 대한 주주의 몫을 나타내는 지표라 할 수 있다. 또한 주당순이익은 주가수익비율(PER)계산의 기초가 되기도 한다.

EPS가 높을수록 주식의 투자 가치는 높다고 볼 수 있으며, 그만큼 해당 회사의 경영실적이 양호하다는 뜻이다. 따라서 배당 여력도 많으므로 주가에 긍정적인 영향을 미친다.

EPS는 당기순이익 규모가 늘면 높아지게 되고, 전환사채의 주식전환이나 증자로 주식수가 많아지면 낮아지게 된다. 특히 최근 주식시장의 패턴이 기업의 수익성을 중시하는 쪽으로 바뀌면서 EPS의 크기가 중요시되고 있다.

* 출처 : [네이버 지식백과] 주당순이익(EPS) (시사상식사전, pmg 지식엔진연구소)
* https://terms.naver.com/entry.nhn?docId=74510&cid=43667&categoryId=43667

### filter 를 사용해 특정 텍스트가 들어가는 컬럼 찾기
* [정규 표현식 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D)

In [270]:
# df.filter(regex=)를 통해 "PERlEPS" 가 들어가는 컬럼만 가져옵니다.
# 특정 컬럼을 가져오고 종목코드를 추가해 줍니다.
df_per_eps = df.filter(regex="^PERlEPS").copy()
df_per_eps["종목코드"] = df["종목코드"]
df_per_eps

    PERlEPS(2022.03) PERlEPS(2021.12) PERlEPS(2022.02)    종목코드
0      N/A  l  -770원              NaN              NaN  284620
1    N/A  l  -8,637원              NaN              NaN  249420
2    21.03배  l  302원              NaN              NaN  044960
3                NaN    N/A  l  -347원              NaN  179530
4      N/A  l  -333원              NaN              NaN  019175
..               ...              ...              ...     ...
153     N/A  l  -29원              NaN              NaN  018620
154    N/A  l  -582원              NaN              NaN  115450
155   8.57배  l  231원              NaN              NaN  299170
156  N/A  l  -2,408원              NaN              NaN  183490
157    N/A  l  -550원              NaN              NaN  047920

[158 rows x 4 columns]

### melt로 tidy data 만들기

<img src="https://pandas.pydata.org/docs/_images/reshaping_melt.png" width="600">

* https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-by-melt
* [Tidy Data 란?](https://vita.had.co.nz/papers/tidy-data.pdf)

In [271]:
# melt를 통해 종목코드를 녹여냅니다.
df_per_eps_melt = df_per_eps.melt(id_vars="종목코드")
df_per_eps_melt

       종목코드          variable            value
0    284620  PERlEPS(2022.03)    N/A  l  -770원
1    249420  PERlEPS(2022.03)  N/A  l  -8,637원
2    044960  PERlEPS(2022.03)  21.03배  l  302원
3    179530  PERlEPS(2022.03)              NaN
4    019175  PERlEPS(2022.03)    N/A  l  -333원
..      ...               ...              ...
469  018620  PERlEPS(2022.02)              NaN
470  115450  PERlEPS(2022.02)              NaN
471  299170  PERlEPS(2022.02)              NaN
472  183490  PERlEPS(2022.02)              NaN
473  047920  PERlEPS(2022.02)              NaN

[474 rows x 3 columns]

In [272]:
# 종목코드별로 value_counts를 통해  PERlEPS 행이 몇 개인지 봅니다.
df_per_eps_melt["종목코드"].value_counts()

284620    3
023910    3
041910    3
318010    3
078140    3
         ..
000640    3
001067    3
001540    3
009420    3
047920    3
Name: 종목코드, Length: 158, dtype: int64

### 결측치 데이터 제거
<img src="https://pandas.pydata.org/docs/_images/03_subset_rows.svg">

In [273]:
# PERlEPS 데이터프레임에서 결측치 데이터 제거
# 여기에서 기간별로 생긴 행은 이전 실습에서 concat으로 데이터를 합칠 때 
# 컬럼의 이름이 다르면 새로운 컬럼으로 생성하기 때문입니다.
df_pe = df_per_eps_melt.dropna()
df_pe

       종목코드          variable            value
0    284620  PERlEPS(2022.03)    N/A  l  -770원
1    249420  PERlEPS(2022.03)  N/A  l  -8,637원
2    044960  PERlEPS(2022.03)  21.03배  l  302원
4    019175  PERlEPS(2022.03)    N/A  l  -333원
5    002720  PERlEPS(2022.03)     N/A  l  -13원
..      ...               ...              ...
238  261780  PERlEPS(2021.12)    N/A  l  -792원
301  365270  PERlEPS(2021.12)    N/A  l  -541원
303  308080  PERlEPS(2021.12)    N/A  l  -697원
307  353190  PERlEPS(2021.12)    N/A  l  -216원
323  004310  PERlEPS(2022.02)     N/A  l  -32원

[158 rows x 3 columns]

In [274]:
# variable 컬럼명을 rename을 통해 "PERlEPS"로 변경합니다.
df_pe = df_pe.rename(columns={"variable": "PERlEPS"})
df_pe

       종목코드           PERlEPS            value
0    284620  PERlEPS(2022.03)    N/A  l  -770원
1    249420  PERlEPS(2022.03)  N/A  l  -8,637원
2    044960  PERlEPS(2022.03)  21.03배  l  302원
4    019175  PERlEPS(2022.03)    N/A  l  -333원
5    002720  PERlEPS(2022.03)     N/A  l  -13원
..      ...               ...              ...
238  261780  PERlEPS(2021.12)    N/A  l  -792원
301  365270  PERlEPS(2021.12)    N/A  l  -541원
303  308080  PERlEPS(2021.12)    N/A  l  -697원
307  353190  PERlEPS(2021.12)    N/A  l  -216원
323  004310  PERlEPS(2022.02)     N/A  l  -32원

[158 rows x 3 columns]

In [275]:
# df_pe에서 PER, EPS 컬럼을 따로 생성합니다.
df_pe["PER"] = df_pe["value"].str.split("  l  ", expand=True)[0]
df_pe["EPS"] = df_pe["value"].str.split("  l  ", expand=True)[1]

In [276]:
# PER, EPS 컬럼의 N/A 값을 결측치로 만듭니다.
df_pe["PER"] = df_pe["PER"].replace("N/A", np.nan)
df_pe["EPS"] = df_pe["EPS"].replace("N/A", np.nan)

In [277]:
#  PER, EPS 값 중 둘 다 결측치는 notnull 혹은 isnull을 사용해 제거합니다.
df_pe = df_pe[df_pe["PER"].notnull() | df_pe["EPS"].notnull()].copy()

In [278]:
# PER(배) 컬럼을 만들고 수치데이터 형태로 변환합니다.
df_pe["PER(배)"] = df_pe["PER"].str.replace("[^0-9.]", "").astype(float)

C:\Users\HANON\AppData\Local\Temp\ipykernel_24132\1310269267.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pe["PER(배)"] = df_pe["PER"].str.replace("[^0-9.]", "").astype(float)

In [279]:
# EPS(원) 컬럼을 만들고 수치데이터 형태로 변환합니다.
df_pe["EPS(원)"] = df_pe["EPS"].str.replace("원|,", "").astype(int)

C:\Users\HANON\AppData\Local\Temp\ipykernel_24132\846191042.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pe["EPS(원)"] = df_pe["EPS"].str.replace("원|,", "").astype(int)

In [280]:
# 필요한 컬럼만 따로 가져옵니다.
# df_pe[["종목코드", "PERlEPS", "PER(배)", "EPS(원)"]]
df_pe = df_pe[["종목코드", "PERlEPS", "PER(배)", "EPS(원)"]].copy()
df_pe

       종목코드           PERlEPS  PER(배)  EPS(원)
0    284620  PERlEPS(2022.03)     NaN    -770
1    249420  PERlEPS(2022.03)     NaN   -8637
2    044960  PERlEPS(2022.03)   21.03     302
4    019175  PERlEPS(2022.03)     NaN    -333
5    002720  PERlEPS(2022.03)     NaN     -13
..      ...               ...     ...     ...
238  261780  PERlEPS(2021.12)     NaN    -792
301  365270  PERlEPS(2021.12)     NaN    -541
303  308080  PERlEPS(2021.12)     NaN    -697
307  353190  PERlEPS(2021.12)     NaN    -216
323  004310  PERlEPS(2022.02)     NaN     -32

[157 rows x 4 columns]

### 중복 데이터 확인

In [174]:
# "종목코드"기준으로 중복된 데이터가 있는지 찾습니다.
df_pe[df_pe.duplicated("종목코드")]

Empty DataFrame
Columns: [종목코드, PERlEPS, PER(배), EPS(원)]
Index: []

In [176]:
# 만약 중복데이터가 있다면 다음과 같은 방법으로 제거합니다.
# 추출했던 원래 데이터프레임 df와 다시 merge 로 합치기 위해 
# drop_duplicates 를 사용해 종목코드가 중복되는 행은 제거합니다.
# "종목코드", "PERlEPS" 로 정렬을 하고 
# drop_duplicates 로 제거시 keep="first" 로 위에 있는 데이터를 남깁니다.
df_pe = df_pe.sort_values(["종목코드", "PERlEPS"])
df_pe = df_pe.drop_duplicates(["종목코드", "PERlEPS"])
df_pe

       종목코드           PERlEPS  PER(배)  EPS(원)
10   000020  PERlEPS(2022.03)   17.48     632
77   000100  PERlEPS(2022.03)   43.39    1316
68   000105  PERlEPS(2022.03)   42.02    1316
51   000220  PERlEPS(2022.03)     NaN    -142
49   000225  PERlEPS(2022.03)     NaN    -142
..      ...               ...     ...     ...
301  365270  PERlEPS(2021.12)     NaN    -541
131  377220  PERlEPS(2022.03)   12.29     741
81   900120  PERlEPS(2022.03)    4.87      52
63   950210  PERlEPS(2022.03)     NaN   -1798
152  950220  PERlEPS(2022.03)     NaN    -568

[157 rows x 4 columns]

In [184]:
# 종목코드값 기준으로 중복데이터를 확인합니다.
# df_pe[df_pe.duplicated("종목코드") == True].count()
df_pe["종목코드"].value_counts().unique()

array([1], dtype=int64)

### PBRlBPS 전처리


#### PBR(주가순자산비율, price-to-book ratio, P/B ratio)

* PBR = 주가/BPS(주당순자산가치)
* 주가는 그 회사의 종합적인 평가이므로 주주 소유분을 초과한 부분은 모두 그 회사의 잠재적인 프리미엄이 되기 때문에 **경영의 종합력이 뛰어나면 뛰어날수록 배율이 높아진다**고 할 수 있다. 일반적으로 이 지표는 PER과 함께 사용되는데, 이는 주가순자산배율이 그 회사를 정적인 상태 즉 스토크(stock)면에서 보고 있는데 반하여 주가수익률은 동적인 상태 즉 플로(flow)면에서 보고 있으므로 두 가지 지표가 서로 보완관계에 있다.

* 다만 이 주가 순자산배율에도 **주주소유분이 장부가격에 의해 계산되고 있어 반드시 정확하다고 할 수 없고 또 그 계산기준이 전기의 결산기가 된다는 등의 난점이 있다.**
* 출처 : [주가순자산비율 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EC%A3%BC%EA%B0%80%EC%88%9C%EC%9E%90%EC%82%B0%EB%B9%84%EC%9C%A8)

#### BPS(주당순자산가치, Book-value Per Share)

* 주당순자산가치 = 기업의 순자산/ 발행 주식수
* 주당순자산가치는, '청산가치' 라고도 불린다. 그 이유는 현재 시점에서 기업의 활동을 중단시키고 그 부를 모든 주주들에게 나눠줄 경우 한주당 얼마씩이 돌아가는가를 나타내는 수치이기 때문이다. 보통 주당순자산가치라는 말은 잘 쓰지 않고 BPS라고 하므로 이하 BPS로 쓴다.

* BPS가 높다는 것은 자기자본의 비중이 크거나 회사 가치가 높다는 것을 나타낸다. BPS에는 주가 정보가 고려되어 있지 않으므로, 이 회사의 주가가 자산 가치에 비해 얼마나 저평가 혹은 고평가되어 있는지 판단하기 위해 PBR이라는 값을 사용한다.

* PBR 값은 BPS 값으로 현재 주가를 나눈 것이다. BPS가 1만원인 위 사례에서 주가가 5,000원이라면 PBR은 0.5가 되고, 주가가 20,000원이라면 PBR은 2가 된다. 즉 전자의 경우 주가는 실제의 자산에 비해 저평가되어 되어 있는 것이고, 후자의 경우 주가는 실제 자산에 비해 고평가 되어 있는 것이다.

* 출처 : [주당순자산가치 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EC%A3%BC%EB%8B%B9%EC%88%9C%EC%9E%90%EC%82%B0%EA%B0%80%EC%B9%98)

In [189]:
# filter를 사용해 PBRlBPS 컬럼 가져옵니다.
# 종목코드 추가합니다.
df_pbr_bps = df.filter(regex="PBRlBPS").copy()
df_pbr_bps["종목코드"] = df["종목코드"]
df_pbr_bps

     PBRlBPS (2022.03) PBRlBPS (2021.12) PBRlBPS (2022.02)    종목코드
0      125.82배  l  79원               NaN               NaN  284620
1     5.47배  l  7,471원               NaN               NaN  249420
2     1.87배  l  3,391원               NaN               NaN  044960
3                  NaN  3.20배  l  1,530원               NaN  179530
4     6.91배  l  6,792원               NaN               NaN  019175
..                 ...               ...               ...     ...
153   1.99배  l  1,062원               NaN               NaN  018620
154   3.36배  l  3,845원               NaN               NaN  115450
155   1.74배  l  1,137원               NaN               NaN  299170
156  1.14배  l  15,762원               NaN               NaN  183490
157   5.08배  l  2,932원               NaN               NaN  047920

[158 rows x 4 columns]

In [224]:
# melt로 tidy data 만듭니다.
df_pbr_bps_melt = df_pbr_bps.melt(id_vars="종목코드").copy()
df_pbr_bps_melt

       종목코드           variable             value
0    284620  PBRlBPS (2022.03)   125.82배  l  79원
1    249420  PBRlBPS (2022.03)  5.47배  l  7,471원
2    044960  PBRlBPS (2022.03)  1.87배  l  3,391원
3    179530  PBRlBPS (2022.03)               NaN
4    019175  PBRlBPS (2022.03)  6.91배  l  6,792원
..      ...                ...               ...
469  018620  PBRlBPS (2022.02)               NaN
470  115450  PBRlBPS (2022.02)               NaN
471  299170  PBRlBPS (2022.02)               NaN
472  183490  PBRlBPS (2022.02)               NaN
473  047920  PBRlBPS (2022.02)               NaN

[474 rows x 3 columns]

In [225]:
# 결측치를 제거합니다.
df_pb = df_pbr_bps_melt.dropna()
df_pb

       종목코드           variable             value
0    284620  PBRlBPS (2022.03)   125.82배  l  79원
1    249420  PBRlBPS (2022.03)  5.47배  l  7,471원
2    044960  PBRlBPS (2022.03)  1.87배  l  3,391원
4    019175  PBRlBPS (2022.03)  6.91배  l  6,792원
5    002720  PBRlBPS (2022.03)  1.62배  l  3,660원
..      ...                ...               ...
238  261780  PBRlBPS (2021.12)  5.32배  l  1,443원
301  365270  PBRlBPS (2021.12)  4.79배  l  3,886원
303  308080  PBRlBPS (2021.12)  1.78배  l  5,370원
307  353190  PBRlBPS (2021.12)    1.28배  l  912원
323  004310  PBRlBPS (2022.02)  2.06배  l  3,115원

[158 rows x 3 columns]

In [226]:
# variable 컬럼명을 "PBRlBPS"로 변경합니다.
df_pb = df_pb.rename(columns={"variable":"PBRlBPS"})
df_pb

       종목코드            PBRlBPS             value
0    284620  PBRlBPS (2022.03)   125.82배  l  79원
1    249420  PBRlBPS (2022.03)  5.47배  l  7,471원
2    044960  PBRlBPS (2022.03)  1.87배  l  3,391원
4    019175  PBRlBPS (2022.03)  6.91배  l  6,792원
5    002720  PBRlBPS (2022.03)  1.62배  l  3,660원
..      ...                ...               ...
238  261780  PBRlBPS (2021.12)  5.32배  l  1,443원
301  365270  PBRlBPS (2021.12)  4.79배  l  3,886원
303  308080  PBRlBPS (2021.12)  1.78배  l  5,370원
307  353190  PBRlBPS (2021.12)    1.28배  l  912원
323  004310  PBRlBPS (2022.02)  2.06배  l  3,115원

[158 rows x 3 columns]

In [227]:
# PBR, BPS 컬럼을 만듭니다.
df_pb["PBR"] = df_pb["value"].str.split(" l ", expand=True)[0]
df_pb["BPS"] = df_pb["value"].str.split(" l ", expand=True)[1]

In [228]:
# N/A 값(문자) np.nan(결측치)로 변환합니다.
df_pb["PBR"] = df_pb["PBR"].replace('NaN', np.nan)
df_pb["BPS"] = df_pb["BPS"].replace('NaN', np.nan)

In [229]:
# PBR(배), BPS(원) 컬럼을 만듭니다.
df_pb["PBR(배)"] = df_pb["PBR"].str.replace("배", "").astype(float)
df_pb["BPS(원)"] = df_pb["BPS"].str.replace("원|,", "").astype(float)

C:\Users\HANON\AppData\Local\Temp\ipykernel_24132\3871975064.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pb["BPS(원)"] = df_pb["BPS"].str.replace("원|,", "").astype(float)

In [230]:
# 종목코드 기준 value_counts 를 구해 중복값이 있는지 확인합니다.
df_pb["종목코드"].value_counts().unique()

array([1], dtype=int64)

In [233]:
# "종목코드","PBRlBPS" 로 중복값이 있는지 확인합니다.
# 만약 중복값이 있다면 drop_duplicates 로 삭제합니다.
df_pb[df_pb.duplicated("종목코드")]

Empty DataFrame
Columns: [종목코드, PBRlBPS, value, PBR, BPS, PBR(배), BPS(원)]
Index: []

In [237]:
# 사용할 컬럼만 따로 지정해줍니다.
# "종목코드", "PBRlBPS", "PBR(배)", "BPS(원)"
df_pb = df_pb[["종목코드", "PBRlBPS", "PBR(배)", "BPS(원)"]].copy()
df_pb

       종목코드            PBRlBPS  PBR(배)  BPS(원)
0    284620  PBRlBPS (2022.03)  125.82    79.0
1    249420  PBRlBPS (2022.03)    5.47  7471.0
2    044960  PBRlBPS (2022.03)    1.87  3391.0
4    019175  PBRlBPS (2022.03)    6.91  6792.0
5    002720  PBRlBPS (2022.03)    1.62  3660.0
..      ...                ...     ...     ...
238  261780  PBRlBPS (2021.12)    5.32  1443.0
301  365270  PBRlBPS (2021.12)    4.79  3886.0
303  308080  PBRlBPS (2021.12)    1.78  5370.0
307  353190  PBRlBPS (2021.12)    1.28   912.0
323  004310  PBRlBPS (2022.02)    2.06  3115.0

[158 rows x 4 columns]

### 배당 수익률 전처리

In [243]:
# PER|EPS 전처리와 마찬가리로 배당수익률 데이터를 전처리 합니다.
# df.filter(regex=) 로 배당수익률이 들어가는 컬럼만 찾고 종목코드를 추가 합니다.
df_income = df.filter(regex="배당수익률").copy()
df_income

    배당수익률l2021.12 배당수익률l2021.11
0             NaN           NaN
1             NaN           NaN
2           0.79%           NaN
3             NaN           NaN
4             NaN           NaN
..            ...           ...
153           NaN           NaN
154           NaN           NaN
155           NaN           NaN
156           NaN           NaN
157           NaN           NaN

[158 rows x 2 columns]

In [244]:
# 추후 병합을 위해 데이터프레임에 종목코드를 추가합니다.
df_income["종목코드"] = df["종목코드"]
df_income

    배당수익률l2021.12 배당수익률l2021.11    종목코드
0             NaN           NaN  284620
1             NaN           NaN  249420
2           0.79%           NaN  044960
3             NaN           NaN  179530
4             NaN           NaN  019175
..            ...           ...     ...
153           NaN           NaN  018620
154           NaN           NaN  115450
155           NaN           NaN  299170
156           NaN           NaN  183490
157           NaN           NaN  047920

[158 rows x 3 columns]

In [248]:
# melt 로 여러 컬럼의 종목코드를 행으로 녹이고 결측치를 dropna 로 제거합니다.
df_in = df_income.melt(id_vars="종목코드").copy()
df_in = df_in.dropna()
df_in

       종목코드       variable  value
2    044960  배당수익률l2021.12  0.79%
8    003220  배당수익률l2021.12  1.03%
9    000230  배당수익률l2021.12  0.32%
10   000020  배당수익률l2021.12  1.63%
11   068270  배당수익률l2021.12  0.39%
..      ...            ...    ...
142  214450  배당수익률l2021.12  0.95%
144  014570  배당수익률l2021.12  2.22%
147  200780  배당수익률l2021.12  0.98%
148  005257  배당수익률l2021.12  0.73%
165  004310  배당수익률l2021.11  0.47%

[80 rows x 3 columns]

In [249]:
# 컬럼명을 "종목코드", "배당수익률기간", "배당수익률" 로 변경합니다.
df_in = df_in.rename(columns={"variable": "배당수익률기간", "value":"배당수익률"})
# df_in.columns = ["종목코드", "배당수익률기간", "배당수익률"]
df_in

       종목코드        배당수익률기간  배당수익률
2    044960  배당수익률l2021.12  0.79%
8    003220  배당수익률l2021.12  1.03%
9    000230  배당수익률l2021.12  0.32%
10   000020  배당수익률l2021.12  1.63%
11   068270  배당수익률l2021.12  0.39%
..      ...            ...    ...
142  214450  배당수익률l2021.12  0.95%
144  014570  배당수익률l2021.12  2.22%
147  200780  배당수익률l2021.12  0.98%
148  005257  배당수익률l2021.12  0.73%
165  004310  배당수익률l2021.11  0.47%

[80 rows x 3 columns]

In [253]:
# 배당수익률% 컬럼을 만들어 전처리 합니다.
df_in["배당수익률(%)"] = df_in["배당수익률"].str.replace("%", "").astype(float)
df_in

       종목코드        배당수익률기간  배당수익률  배당수익률(%)
2    044960  배당수익률l2021.12  0.79%      0.79
8    003220  배당수익률l2021.12  1.03%      1.03
9    000230  배당수익률l2021.12  0.32%      0.32
10   000020  배당수익률l2021.12  1.63%      1.63
11   068270  배당수익률l2021.12  0.39%      0.39
..      ...            ...    ...       ...
142  214450  배당수익률l2021.12  0.95%      0.95
144  014570  배당수익률l2021.12  2.22%      2.22
147  200780  배당수익률l2021.12  0.98%      0.98
148  005257  배당수익률l2021.12  0.73%      0.73
165  004310  배당수익률l2021.11  0.47%      0.47

[80 rows x 4 columns]

In [257]:
# 종목코드가 종목당 2개 이상 있는 값이 있는지 확인합니다.
# 2개 이상 있다면 merge 에서 어떤 값을 사용할지 고려해야 합니다.
df_in["종목코드"].value_counts().unique()

array([1], dtype=int64)

In [258]:
# 전처리가 끝난 배당수익률 컬럼은 제거합니다.
del df_in["배당수익률"]
df_in

       종목코드        배당수익률기간  배당수익률(%)
2    044960  배당수익률l2021.12      0.79
8    003220  배당수익률l2021.12      1.03
9    000230  배당수익률l2021.12      0.32
10   000020  배당수익률l2021.12      1.63
11   068270  배당수익률l2021.12      0.39
..      ...            ...       ...
142  214450  배당수익률l2021.12      0.95
144  014570  배당수익률l2021.12      2.22
147  200780  배당수익률l2021.12      0.98
148  005257  배당수익률l2021.12      0.73
165  004310  배당수익률l2021.11      0.47

[80 rows x 3 columns]

## merge 로 기존 데이터와 병합하기

<img src="https://pandas.pydata.org/docs/_images/08_merge_left.svg">

* concat과 merge의 차이
    * concat :  
        * axis=0 행을 기준으로 위아래로 **같은 컬럼끼리** 값을 이어 붙여 **새로운 행을 만듦**
        * axis=1 컬럼을 기준으로 **인덱스가 같은 값**을 옆으로 붙여 **새로운 컬럼을 만듦**
    * merge :
        * index 혹은 특정 컬럼 값을 기준으로 두 개의 데이터프레임을 연결
        
<img src="https://www.dofactory.com/img/sql/sql-joins.png">

* 이미지 출처 : https://www.dofactory.com/sql/join

In [269]:
df.shape, df_pe.shape, df_pb.shape, df_income.shape

((158, 52), (157, 4), (158, 4), (158, 3))

In [267]:
# del df["EPS(원)"]
# del df["PER(배)"]

In [282]:
# merge로 병합합니다.
# df와 df_pe를 병합니다. merge 전후 행과 열의 수를 확인해서 제대로 병합이 되었는지 확인합니다.
# df_merge_pe 에 할당합니다.
df_merge_pe = df.merge(df_pe, left_on="종목코드", right_on="종목코드", how="left")
df_merge_pe.head(1)

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목명_전처리,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,시가총액,시가총액순위,상장주식수,액면가l매매단위,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),투자의견l목표주가,52주최고l최저,PERlEPS(2022.03),추정PERlEPS,PBRlBPS (2022.03),동일업종 PER,동일업종 등락률,배당수익률l2021.12,PERlEPS(2021.12),PBRlBPS (2021.12),PERlEPS(2022.02),PBRlBPS (2022.02),배당수익률l2021.11,코스피/코스닥,시가총액(억원),시가총액순위(전처리),52주최고,52주최저,52주차액,52주차액비율,현재-최고가,현재/최고가비율,목표주가,투자의견,매수매도,PBR,PPS,BPS,PERlEPS,PER(배),EPS(원)
0,카이노스메드 *,11450.0,1520.0,+15.31%,9610.0,9930.0,125641.0,1413.0,0.0,2022-07-12,카이노스메드,284620,NaN,NaN,NaN,NaN,NaN,"2,219 억원",코스닥 362위,22322396,500원 l 1주,22322396,828098,3.71%,N/A l N/A,"21,510 l 8,629",N/A l -770원,N/A l N/A,125.82배 l 79원,106.06,+0.27%,NaN,NaN,NaN,NaN,NaN,NaN,코스닥,2219,362,21510,8629,12881,2.492757,-10060.0,0.532311,NaN,NaN,NaN,125.82배,79원,79원,PERlEPS(2022.03),NaN,-770.0

In [284]:
df_pe.columns

Index(['종목코드', 'PERlEPS', 'PER(배)', 'EPS(원)'], dtype='object')

In [283]:
df_merge_pe.shape

(158, 55)

In [285]:
df_pb.columns

Index(['종목코드', 'PBRlBPS', 'PBR(배)', 'BPS(원)'], dtype='object')

In [288]:
# 위에서 병합한 데이터(df_merge_pe)에 PBRlBPS(df_pb) 데이터도 병합해 줍니다.
df_merge_pb = df_merge_pe.merge(df_pb, on="종목코드", how="left")
df_merge_pb.head(1)

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목명_전처리,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,시가총액,시가총액순위,상장주식수,액면가l매매단위,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),투자의견l목표주가,52주최고l최저,PERlEPS(2022.03),추정PERlEPS,PBRlBPS (2022.03),동일업종 PER,동일업종 등락률,배당수익률l2021.12,PERlEPS(2021.12),PBRlBPS (2021.12),PERlEPS(2022.02),PBRlBPS (2022.02),배당수익률l2021.11,코스피/코스닥,시가총액(억원),시가총액순위(전처리),52주최고,52주최저,52주차액,52주차액비율,현재-최고가,현재/최고가비율,목표주가,투자의견,매수매도,PBR,PPS,BPS,PERlEPS,PER(배),EPS(원),PBRlBPS,PBR(배),BPS(원)
0,카이노스메드 *,11450.0,1520.0,+15.31%,9610.0,9930.0,125641.0,1413.0,0.0,2022-07-12,카이노스메드,284620,NaN,NaN,NaN,NaN,NaN,"2,219 억원",코스닥 362위,22322396,500원 l 1주,22322396,828098,3.71%,N/A l N/A,"21,510 l 8,629",N/A l -770원,N/A l N/A,125.82배 l 79원,106.06,+0.27%,NaN,NaN,NaN,NaN,NaN,NaN,코스닥,2219,362,21510,8629,12881,2.492757,-10060.0,0.532311,NaN,NaN,NaN,125.82배,79원,79원,PERlEPS(2022.03),NaN,-770.0,PBRlBPS (2022.03),125.82,79.0

In [289]:
df_merge_pb.shape

(158, 58)

In [290]:
df_in.columns

Index(['종목코드', '배당수익률기간', '배당수익률(%)'], dtype='object')

In [292]:
# 위에서 병합한 데이터(df_merge_pb)에 배당수익률(df_in) 데이터도 병합해 줍니다.
# df_final 이라는 변수에 담습니다.
df_final = df_merge_pb.merge(df_in, on="종목코드", how="left")
df_final.head(1)

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목명_전처리,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,시가총액,시가총액순위,상장주식수,액면가l매매단위,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),투자의견l목표주가,52주최고l최저,PERlEPS(2022.03),추정PERlEPS,PBRlBPS (2022.03),동일업종 PER,동일업종 등락률,배당수익률l2021.12,PERlEPS(2021.12),PBRlBPS (2021.12),PERlEPS(2022.02),PBRlBPS (2022.02),배당수익률l2021.11,코스피/코스닥,시가총액(억원),시가총액순위(전처리),52주최고,52주최저,52주차액,52주차액비율,현재-최고가,현재/최고가비율,목표주가,투자의견,매수매도,PBR,PPS,BPS,PERlEPS,PER(배),EPS(원),PBRlBPS,PBR(배),BPS(원),배당수익률기간,배당수익률(%)
0,카이노스메드 *,11450.0,1520.0,+15.31%,9610.0,9930.0,125641.0,1413.0,0.0,2022-07-12,카이노스메드,284620,NaN,NaN,NaN,NaN,NaN,"2,219 억원",코스닥 362위,22322396,500원 l 1주,22322396,828098,3.71%,N/A l N/A,"21,510 l 8,629",N/A l -770원,N/A l N/A,125.82배 l 79원,106.06,+0.27%,NaN,NaN,NaN,NaN,NaN,NaN,코스닥,2219,362,21510,8629,12881,2.492757,-10060.0,0.532311,NaN,NaN,NaN,125.82배,79원,79원,PERlEPS(2022.03),NaN,-770.0,PBRlBPS (2022.03),125.82,79.0,NaN,NaN

In [293]:
df_final.shape

(158, 60)

## 사용하지 않는 컬럼 제거하기 drop

In [300]:
# l 구분자가 들어가는 컬럼명만 찾습니다.
del_cols = df_final.filter(regex="l").columns
del_cols

Index(['액면가l매매단위', '투자의견l목표주가', '52주최고l최저', 'PERlEPS(2022.03)', '추정PERlEPS',
       'PBRlBPS (2022.03)', '배당수익률l2021.12', 'PERlEPS(2021.12)',
       'PBRlBPS (2021.12)', 'PERlEPS(2022.02)', 'PBRlBPS (2022.02)',
       '배당수익률l2021.11', 'PERlEPS', 'PBRlBPS'],
      dtype='object')

### drop vs. del
- drop operates on both columns and rows; del operates on column only.
- drop can operate on multiple items at a time; del operates only on one at a time.
- drop can operate in-place or return a copy; del is an in-place operation only.
> The documentation at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html has more details on drop's features.

In [302]:
# 위에서 찾은 컬럼명을 drop으로 삭제합니다.
df_final = df_final.drop(del_cols, axis=1).copy()

In [303]:
# 결측치수가 많거나 중복된 컬럼이 있는지 확인합니다.
df_final.shape

(158, 46)

In [304]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 157
Data columns (total 46 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   종목명          158 non-null    object
 1   현재가          158 non-null    float64
 2   전일비          158 non-null    float64
 3   등락률          158 non-null    object
 4   매수호가         158 non-null    float64
 5   매도호가         158 non-null    float64
 6   거래량          158 non-null    float64
 7   거래대금         158 non-null    float64
 8   전일거래량        158 non-null    float64
 9   조회일자         158 non-null    object
 10  종목명_전처리      158 non-null    object
 11  종목코드         158 non-null    object
 12  매출액          34 non-null     float64
 13  영업이익         33 non-null     float64
 14  당기순이익        28 non-null     float64
 15  영업이익률        33 non-null     float64
 16  순이익률         28 non-null     float64
 17  시가총액         158 non-null    object
 18  시가총액순위       158 non-null    object
 19  상장주식수        158 non-null    int64
 20  외국인한도주식수(A)  158 non-null    int64
 21  외국인보유주식수(B)  158 non-null    int64
 22  외국인소진율(B/A)  158 non-null    object
 23  동일업종 PER     158 non-null    float64
 24  동일업종 등락률     158 non-null    object
 25  코스피/코스닥      158 non-null    object
 26  시가총액(억원)     158 non-null    int32
 27  시가총액순위(전처리)  158 non-null    int32
 28  52주최고        158 non-null    int32
 29  52주최저        158 non-null    int32
 30  52주차액        158 non-null    int32
 31  52주차액비율      158 non-null    float64
 32  현재-최고가       158 non-null    float64
 33  현재/최고가비율     158 non-null    float64
 34  목표주가         37 non-null     float64
 35  투자의견         37 non-null     float64
 36  매수매도         37 non-null     object
 37  PBR          150 non-null    object
 38  PPS          150 non-null    object
 39  BPS          150 non-null    object
 40  PER(배)       88 non-null     float64
 41  EPS(원)       157 non-null    float64
 42  PBR(배)       158 non-null    float64
 43  BPS(원)       158 non-null    float64
 44  배당수익률기간      80 non-null     object
 45  배당수익률(%)     80 non-null     float64
dtypes: float64(23), int32(5), int64(3), object(15)
memory usage: 54.9+ KB

In [305]:
# 전처리한 컬럼은 원본 컬럼을 제거합니다.
del_cols2 = ['종목명_전처리', '시가총액', '시가총액순위', '배당수익률기간']

In [306]:
# del_cols2 를 제거합니다.
df_final = df_final.drop(del_cols2, axis=1)

In [307]:
# 컬럼명 중 필요없는 컬럼이 없는지 확인합니다.
df_final.columns

Index(['종목명', '현재가', '전일비', '등락률', '매수호가', '매도호가', '거래량', '거래대금', '전일거래량',
       '조회일자', '종목코드', '매출액', '영업이익', '당기순이익', '영업이익률', '순이익률', '상장주식수',
       '외국인한도주식수(A)', '외국인보유주식수(B)', '외국인소진율(B/A)', '동일업종 PER', '동일업종 등락률',
       '코스피/코스닥', '시가총액(억원)', '시가총액순위(전처리)', '52주최고', '52주최저', '52주차액',
       '52주차액비율', '현재-최고가', '현재/최고가비율', '목표주가', '투자의견', '매수매도', 'PBR', 'PPS',
       'BPS', 'PER(배)', 'EPS(원)', 'PBR(배)', 'BPS(원)', '배당수익률(%)'],
      dtype='object')

In [308]:
df_final.shape

(158, 42)

## CSV 파일로 저장하기

In [309]:
# 기존 파일명을 변경해서 새로 저장할 파일명을 만듭니다.
file_name

'upjong_no_261_2022-07-12.csv'

In [310]:
# 저장할 파일명을 만들어 줍니다.
# 기존 파일명에 _ver2 를 붙여줍니다.
final_file_name = file_name.replace(".csv", "_ver2.csv")
final_file_name

'upjong_no_261_2022-07-12_ver2.csv'

In [311]:
# final_file_name 변수에 있는 파일명으로 저장합니다.
df_final.to_csv(final_file_name, index=False)

In [ ]:
# final_file_name 변수에 있는 값을 읽어옵니다.
# 이 때, 종목코드는 dtype={"종목코드":np.object} 로 불러옵니다.

In [314]:
pd.read_csv(final_file_name, dtype={"종목코드": object})

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,상장주식수,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),동일업종 PER,동일업종 등락률,코스피/코스닥,시가총액(억원),시가총액순위(전처리),52주최고,52주최저,52주차액,52주차액비율,현재-최고가,현재/최고가비율,목표주가,투자의견,매수매도,PBR,PPS,BPS,PER(배),EPS(원),PBR(배),BPS(원),배당수익률(%)
0,카이노스메드 *,11450.0,1520.0,+15.31%,9610.0,9930.0,125641.0,1413.0,0.0,2022-07-12,284620,NaN,NaN,NaN,NaN,NaN,22322396,22322396,828098,3.71%,106.06,+0.27%,코스닥,2219,362,21510,8629,12881,2.492757,-10060.0,0.532311,NaN,NaN,NaN,125.82배,79원,79원,NaN,-770.0,125.82,79.0,NaN
1,일동제약,38350.0,2900.0,+8.18%,36600.0,36650.0,1291093.0,49785.0,6060869.0,2022-07-12,249420,1530.0,-60.0,-210.0,-3.92,-13.73,26803285,26803285,1088414,4.06%,106.06,+0.29%,코스피,1949,200,79500,12400,67100,6.411290,-41150.0,0.482390,50000.0,4.0,매수,5.47배,"7,471원","7,471원",NaN,-8637.0,5.47,7471.0,NaN
2,이글벳 *,6640.0,470.0,+7.62%,6050.0,6150.0,362894.0,2395.0,31238.0,2022-07-12,044960,NaN,NaN,NaN,NaN,NaN,12641883,12641883,139638,1.10%,106.06,+0.27%,코스닥,803,996,9700,5600,4100,1.732143,-3060.0,0.684536,NaN,NaN,NaN,1.87배,"3,391원","3,391원",21.03,302.0,1.87,3391.0,0.79
3,애드바이오텍 *,5000.0,230.0,+4.82%,4715.0,4950.0,18666.0,91.0,54126.0,2022-07-12,179530,NaN,NaN,NaN,NaN,NaN,9140444,9140444,270546,2.96%,106.06,+0.29%,코스닥,448,1357,11400,4485,6915,2.541806,-6400.0,0.438596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-347.0,3.20,1530.0,NaN
4,신풍제약우,48600.0,1600.0,+3.40%,48650.0,48700.0,2085.0,101.0,29385.0,2022-07-12,019175,NaN,NaN,NaN,NaN,NaN,2200000,2200000,8518,0.39%,106.06,+0.27%,코스피,1032,794,135000,30950,104050,4.361874,-86400.0,0.360000,NaN,NaN,NaN,6.91배,"6,792원","6,792원",NaN,-333.0,6.91,6792.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,우진비앤지 *,2095.0,65.0,-3.01%,2140.0,2155.0,53924.0,113.0,709327.0,2022-07-12,018620,NaN,NaN,NaN,NaN,NaN,28889293,28889293,459900,1.59%,106.06,+0.22%,코스닥,611,1189,3515,1760,1755,1.997159,-1420.0,0.596017,NaN,NaN,NaN,1.99배,"1,062원","1,062원",NaN,-29.0,1.99,1062.0,NaN
154,HLB테라퓨틱스 *,12400.0,400.0,-3.12%,12750.0,12800.0,64406.0,799.0,499045.0,2022-07-12,115450,NaN,NaN,NaN,NaN,NaN,31335211,31335211,1545014,4.93%,106.06,+0.22%,코스닥,4042,158,19300,7450,11850,2.590604,-6900.0,0.642487,NaN,NaN,NaN,3.36배,"3,845원","3,845원",NaN,-582.0,3.36,3845.0,NaN
155,더블유에스아이 *,1975.0,65.0,-3.19%,2015.0,2040.0,2316.0,5.0,36240.0,2022-07-12,299170,NaN,NaN,NaN,NaN,NaN,30027963,30027963,87168,0.29%,106.06,+0.26%,코스닥,595,1206,3470,1675,1795,2.071642,-1495.0,0.569164,NaN,NaN,NaN,1.74배,"1,137원","1,137원",8.57,231.0,1.74,1137.0,NaN
156,엔지켐생명과학 *,17700.0,650.0,-3.54%,17950.0,18250.0,9839.0,176.0,134865.0,2022-07-12,183490,NaN,NaN,NaN,NaN,NaN,13933768,13933768,1482469,10.64%,106.06,+0.22%,코스닥,2494,306,92426,14850,77576,6.223973,-74726.0,0.191505,NaN,NaN,NaN,1.14배,"15,762원","15,762원",NaN,-2408.0,1.14,15762.0,NaN
157,HLB제약 *,14500.0,650.0,-4.29%,14750.0,14800.0,66838.0,979.0,557586.0,2022-07-12,047920,NaN,NaN,NaN,NaN,NaN,27564264,27564264,132391,0.48%,106.06,+0.22%,코스닥,4107,154,30200,7860,22340,3.842239,-15700.0,0.480132,NaN,NaN,NaN,5.08배,"2,932원","2,932원",NaN,-550.0,5.08,2932.0,NaN